/* universal settings */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}
.banner-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
   
    
}

.banner-container {
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
}

.banner-title {
    width: 420px;
    color: #272727;
    font-size: 50px;
   
    
    
}

.paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 575px;
    margin-top: 15px;
}

.btn-primary {
    padding: 20px 35px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    margin-top: 20px;
}
.banner-img{
    width: 490px;
    height: 563px;
    display: flex;
    margin-top: 54px;
    align-items: center;
}
.feature-container{
    text-align: center;
    margin-top: 65px;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 575px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}