/* universal settings */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.banner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;


}

.banner-container {
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
}

.banner-title {
    width: 420px;
    color: #272727;
    font-size: 50px;



}

.paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 575px;
    margin-top: 15px;
}

.btn-primary {
    padding: 20px 35px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    margin-top: 20px;
}

.banner-img {
    width: 490px;
    height: 563px;
    display: flex;
    margin-top: 54px;
    align-items: center;
}

.feature-container {
    text-align: center;
    margin-top: 65px;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 575px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.pink-flower1 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    margin-top: 65px;
    width: 290px;
    height: 370px;
}

.pink-flower2 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    margin-top: 65px;
    width: 290px;
    height: 370px;
}

.pink-flower3 {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    margin-top: 65px;
    width: 290px;
    height: 370px;
}

.pink {
    width: 250px;
    height: 320px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.flower-name {
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

.flower-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.hotdeal-container {
    background-color: rgba(229, 84, 115, 0.10);
    margin-top: 135px;
    padding: 35px;
}

.btn-secondary {
    padding: 15px 33px;
    margin-top: 20px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    border: none;
}
.left-section{
    text-align: center;
    
}
.flower{
    height: 250px;
    width: 250px;
    padding-top: 20px;
}
.hotdeal-flower{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn-secondary:hover, .btn-primary:hover{
    background-color: #ADB56B;
    cursor: pointer;
}
.offspan{
    color: #E55473;
}
.insta-photos-container{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px
}
